<!-- {{registrations}} -->
<!-- day pass start -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Infoevent Admin</title>
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">


  <link href="https://fonts.cdnfonts.com/css/avenir" rel="stylesheet">

  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/daz_favicon.png' %}" />
  <!-- font awesome cdn start -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <style>
.id_img
{
  border: none;
  width: 80px;
  height: 100px;
}
.log
{
  width: 70%;
}
.vapp-card
{
  background-color:#5fd8f8;
  height: 700px;

}

.pagebreak {
        page-break-after: always;
      }


    body{
      -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
    }
  
    @media print {
      @page {
   
        size: 67mm 99mm ;   
      
margin: 0px;

        }
        
      body * {
        visibility: hidden;

       
      
      
      }
  
      #section-to-print, #section-to-print * {
        visibility: visible;
        
      }
      #section-to-print {
        position: relative;
        left: 0px;

      top:0px;
   

   
      }
  
    }

</style>

</head>
<body style="font-family: 'Avenir', sans-serif;">
<!-- vapp_vip Id card Design Start -->


{% for registration in registrations %}

{{reg.cardtype.id}}
<!-- EVENT STAFF START-->
{% if registration.cardtype.id == 1 %}

<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;"  src="{% static 'images/evnt_print/abudhabi/abu_evnt.png' %}">
  
  <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
   
</div>
  
   
   
  </div>
<div class="pagebreak"></div>
  {% endif %}
  
  



<!-- EVENT STAFF end -->




<!-- Contractor Start -->

{% if registration.cardtype.id == 2 %}
<div style="width: 38.1%;" id="section-to-print">

    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_con.png' %}">
    
    <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
      <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
      <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
  </div>
    
   
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  
<!-- Contractor end -->



<!-- Temporary start -->
{% if registration.cardtype.id == 3 %}
<div style="width: 38.1%;" id="section-to-print">



    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/TEMPORARY.jpg' %}">
    
    <div style="position: absolute; top: 64%; left: 2%; width: 95%;">
      <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
      <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
      
  </div>
    
     
     
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  

<!-- Temporary end -->


<!-- Media start -->
{% if registration.cardtype.id == 5 %}
<div style="width: 38.1%;" id="section-to-print">



    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_media.png' %}">
    
    <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
      <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
      <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
      
  </div>
    
     
     
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  

<!-- Media end -->


<!-- DCT AAA start -->
{% if registration.cardtype.id == 7 %}
<div style="width: 38.1%;" id="section-to-print">



    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_dctaa.png' %}">
    
    <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
      <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
      <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
      
  </div>
    
     
     
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  

<!-- DCT AAA end -->

<!-- PROTOCOL start -->
{% if registration.cardtype.id == 8 %}
<div style="width: 38.1%;" id="section-to-print">



    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_protocol.png' %}">
    

     
     
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  

<!-- PROTOCOL end -->

<!-- POLICE start -->
{% if registration.cardtype.id == 9 %}
<div style="width: 38.1%;" id="section-to-print">



    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/Artboard 1 copy 3.png' %}">
    

     
     
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  

<!-- POLICE end -->


<!-- volunteers start -->
{% if registration.cardtype.id == 10 %}
<div style="width: 38.1%;" id="section-to-print">



    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_vo.png' %}">
    

     
     
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  

<!-- volunteers end -->

<!-- ORGANIZER AAA start -->
{% if registration.cardtype.id == 11 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_orgaaa.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!-- ORGANIZER AAA end -->


<!-- ORGANIZER start -->
{% if registration.cardtype.id == 12 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_org.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!-- ORGANIZER end -->


<!-- ARTISTS start -->
{% if registration.cardtype.id == 13 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_artist.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--ARTISTS end -->


<!-- VENDOR start -->
{% if registration.cardtype.id == 16 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_vendor.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--VENDOR end -->



<!-- housekeeping start -->
{% if registration.cardtype.id == 17 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_keep.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--housekeeping end -->




<!-- f&b vendor start -->
{% if registration.cardtype.id == 18 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_fb.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--f&b vendor end -->



<!-- production start -->
{% if registration.cardtype.id == 19 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_production.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--production end -->


<!-- security start -->
{% if registration.cardtype.id == 20 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_sec.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--security end -->



<!-- visitor start -->
{% if registration.cardtype.id == 22 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_visitor.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--visitor end -->



<!-- dct start -->
{% if registration.cardtype.id == 33 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_dct.png' %}">
  
  <div style="position: absolute; top: 62%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--dct end -->



<!-- live arena stage artist start -->
{% if registration.cardtype.id == 34 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_evntlas.png' %}">
  
  <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--live arena stage artist end -->


<!-- live arena stage artist start -->
{% if registration.cardtype.id == 34 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_evntlas.png' %}">
  
  <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--live arena stage artist end -->

<!-- sponsors or partners start -->
{% if registration.cardtype.id == 35 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_spo.png' %}">
  
  <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--sponsors or partners end -->


<!-- housekeeping live arena start -->
{% if registration.cardtype.id == 37 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_hkla.png' %}">
  
  <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--housekeeping live arena end -->


<!-- VOLUNTEERS LIVE ARENA
 start -->
{% if registration.cardtype.id == 42 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_vla.png' %}">
  
  <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--VOLUNTEERS LIVE ARENA end -->




<!-- event staff live arena start -->
 {% if registration.cardtype.id == 43 %}
 <div style="width: 38.1%;" id="section-to-print">
 
 
 
   <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_evntla.png' %}">
   
   <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
     <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
     <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
     
 </div>
   
    
    
   </div>
   <div class="pagebreak"></div>
   {% endif %}
   
 
 <!--event staff live arena end -->



 
<!-- EVENT STAFF LIVE ARENA STAGE start -->
{% if registration.cardtype.id == 44 %}
<div style="width: 38.1%;" id="section-to-print">



  <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/abu_evntlas.png' %}">
  
  <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
    <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
    <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
    
</div>
  
   
   
  </div>
  <div class="pagebreak"></div>
  {% endif %}
  

<!--EVENT STAFF LIVE ARENA STAGE end -->




<!-- police red start -->
{% if registration.cardtype.id == 56 %}
<div style="width: 38.1%;" id="section-to-print">



    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/Artboard 1 copy 6.png' %}">
    

     
     
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  

<!-- police red end -->

<!-- police black start -->
{% if registration.cardtype.id == 57 %}
<div style="width: 38.1%;" id="section-to-print">



    <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/Artboard 1 copy 3.png' %}">
    

     
     
    </div>
    <div class="pagebreak"></div>
  {% endif %}
  

<!-- police black end -->

<!-- traffic marshal start -->
{% if registration.cardtype.id == 58 %}



    <div style="width: 38.1%;" id="section-to-print">



      <img style="width:100%; height: 560px;" src="{% static 'images/evnt_print/abudhabi/trafic_mars_abu.png' %}">
      
      <div style="position: absolute; top: 61%; left: 2%; width: 95%;">
        <h3 id="name" class="name text-center" style="text-transform:capitalize; line-height: .9;   font-size: 18px; font-weight: bold; color:white;">{{registration.first_name}} {{registration.last_name}} </h3>
        <h5 id="company" class="company occupation text-center" style="text-transform:capitalize;  font-size: 18px; font-weight: bold; color:white;">{{registration.company}}</h5>
        
    </div>
      
       
       
      </div>
      <div class="pagebreak"></div>
      {% endif %}


  

<!-- traffic marshal end -->



  {% endfor %}




  
   <!-- Id Card Design End -->


   <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.js' %}"></script>
   <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
   <script src="{% static 'js/dataTables.select.min.js' %}"></script>
 
   <!-- End plugin js for this page -->
   <!-- inject:js -->
   <script src="{% static 'js/off-canvas.js' %}"></script>
   <script src="{% static 'js/hoverable-collapse.js' %}"></script>
   <script src="{% static 'js/template.js' %}"></script>
   <script src="{% static 'js/settings.js' %}"></script>
   <script src="{% static 'js/todolist.js' %}"></script>
   <!-- endinject -->
   <!-- Custom js for this page-->
   <script src="{% static 'js/dashboard.js' %}"></script>
   <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
   <!-- End custom js for this page-->

   <script>
    // Get the elements with the specified class
    var nameElements = document.getElementsByClassName('name');
    var companyElements = document.getElementsByClassName('company');

    // Function to adjust font size based on text length
    function adjustFontSize(elements) {
      for (var i = 0; i < elements.length; i++) {
        var element = elements[i];
        var text = element.innerText || element.textContent;
        var length = text.length;

        // Decrease font size by 2px for every 15 characters
        var newSize = 18 - Math.floor(length / 15) * 2;

        // Set the new font size
        element.style.fontSize = newSize + 'px';
      }
    }

    // Call the function for elements with 'name' class
    adjustFontSize(nameElements);

    // Call the function for elements with 'company' class
    adjustFontSize(companyElements);
</script>


</body>
</html>


<!-- Vip pass end -->
