{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MOTN 2023</title>
  
  <!-- Bootstrap CSS -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/motn/favicon.jfif' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/registration-mystyle.css' %}" >

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">

<style>

@font-face {
      font-family: 'montbold'; /* Give your font a name */
      src: url("{% static 'font/FontsFree-Net-Mont-Bold.ttf' %}") format('truetype'); /* Specify the path to your .ttf file */
    }

    body {
      font-family: 'montbold' !important; /* Apply the custom font to the body or any other element */
    }

</style>

</head>
<body style=" font-family: 'montbold' !important;">



  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="logo_img" src="{% static 'img/motn/logo.png' %}" width="170" height="60" alt="logo union">
        </a>
    
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row justify-content-center">


      <div class="col-md-8">
  
<div class="card mt-5 mb-5">

<div class="buildcard-head">
<h3 class="text-center text-white">
  REGISTER FOR BUILD PASS
</h3>
</div>
<div class="build_form p-2">
<div class="row">
<div class="col-md-6">
<label>FIRST NAME</label>
<input class="form-control" type="text">
</div>

<div class="col-md-6">
<label>LAST NAME</label>
<input class="form-control" type="text">
</div>
<div class="col-md-6">
<label>MOBILE</label>
<input type="tel" class="form-control">
</div>

<div class="col-md-6">
  <label>EMAIL</label>
  <input type="email" class="form-control">
  </div>

  <div class="col-md-6">
    <label>DESIGNATION</label>
    <input type="text" class="form-control">
    </div>

    <div class="col-md-6">
      <label>COMPANY NAME</label>
      <input type="text" class="form-control">
      </div>
      <div class="col-md-6">
        <label>EVENT LOCATION</label>
        <select class="form-control">
          <option>AL-AIN</option>
          <option>DHAFRA</option>
        </select>
        </div>
      <div class="col-md-6">
        <label>NEED EVENT PASS?</label>
        <br>
        <label class="radio-inline">
          <input type="radio" name="optradio"  name="optradio"  id="yesRadio"> YES
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio"  id="noRadio"> NO
        </label>

      </div>
<div class="row" id="passDetails" style="display:none; transition: opacity 0.5s;">
      <div class="col-md-6">
        <label>NATIONALITY</label>
        <input type="text" class="form-control">
        </div>



        <div class="col-md-6">
<label>ID</label>
<select class="form-control">
  <option>PASSPORT</option>
  <option>EMIRATES ID</option>
</select>
        </div>


        <div class="col-md-6">
<label>EMIRATES ID NUMBER</label>
<input type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label>UPLOAD EMIRATES ID FRONT</label>
          <input type="file" class="form-control">
                  </div>

                  <div class="col-md-6">
                    <label>UPLOAD EMIRATES ID BACK</label>
                    <input type="file" class="form-control">
                            </div>
                            <div class="col-md-6">
                              <label>EMIRATES ID EXPIRY DATE</label>
                              <input type="file" class="form-control">
                                      </div>

                                      <div class="col-md-6">
                                        <label>UPLOAD PHOTO</label>
                                        <input type="file" class="form-control">
                                                </div>

                                              </div>
<div class="row">
                                                
                                                <div class="col-md-6">
                                                 
<button class="evnt_button">SUBMIT</button>
</div>  
<div class="col-md-6">
                                                 
  <button class="rst_button">RESET</button>
  </div>  
                                                
</div>

</div>
</div>


</div>



      </div>

    </div>
  </div>

  <!-- Bootstrap JS and Popper.js (Optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    const yesRadio = document.getElementById('yesRadio');
    const noRadio = document.getElementById('noRadio');
    const passDetails = document.getElementById('passDetails');
  
    yesRadio.addEventListener('change', function () {
      passDetails.style.display = this.checked ? 'contents' : 'none';
    });
  
    noRadio.addEventListener('change', function () {
      passDetails.style.display = this.checked ? 'none' : 'none';
    });
  
    // Ensure that no radio button is checked by default
    yesRadio.checked = false;
    noRadio.checked = false;
  </script>
  
</body>
</html>