{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MOTN 2023</title>
  
  <!-- Bootstrap CSS -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/motn/favicon.jfif' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/registration-mystyle.css' %}?update=2" >

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link href="https://fonts.cdnfonts.com/css/mont" rel="stylesheet">
<style>

@font-face {
      font-family: 'montbold'; /* Give your font a name */
      src: url("{% static 'font/FontsFree-Net-Mont-Bold.ttf' %}") format('truetype'); /* Specify the path to your .ttf file */
    }
    @font-face {
      font-family: 'AvenirNext'; /* Give your font a name */
      src: url("{% static 'font/AvenirNext-Heavy-09.ttf' %}") format('truetype'); /* Specify the path to your .ttf file */
    }
    body {
      font-family: 'montbold' !important; /* Apply the custom font to the body or any other element */
    }

</style>

</head>
<body style=" font-family: 'montbold' !important; ">

  <div class="reg_background-image"></div>


  <header>

    
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container justify-content-center">
        <a class="navbar-brand" href="{% url 'root-registration-page' %}">
          <img class="logo_img" src="{% static 'img/motn/logo.png' %}" width="170" height="60" alt="logo union">
        </a>
    
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row justify-content-center">


      <div class="col-md-8">
  
<div class="card mt-5 mb-5" style="border: 1px solid rgb(53, 135, 190);">

<div class="buildcard-head">
<h3 class="text-center text-black" style="">
  REGISTER FOR BUILD PASS
</h3>
</div>
<div class="build_form p-2">
  <form id="build-form" >
<div class="row">
<div class="col-md-6 mt-2">
<label>FIRST NAME</label>
<input type="text" class="form-control" name="first-name" required>
</div>

<div class="col-md-6 mt-2">
<label>LAST NAME</label>
<input type="text" class="form-control" name="last-name" required>
</div>
<div class="col-md-6 mt-2">
<label>MOBILE</label>
<input type="text" class="form-control" name="mobile" placeholder="+971 XXXXXXXX" required>
</div>

<div class="col-md-6 mt-2">
  <label>EMAIL</label>
  <input type="email" class="form-control" name="email" required>
  </div>

  <div class="col-md-6 mt-2">
    <label>DESIGNATION</label>
    <select class="form-select" name="card-type" required>
      <option value="" disabled selected>Select Card Type</option>
      {% for type in cardtypes %}

     
      <option value="{{type.id}}">{{type.name}}</option>
     
      {% endfor %}
    </select>
    </div>
    
    <div class="col-md-6 mt-2">
      <label >DATE OF BIRTH</label>
      <input type="date" class="form-control" name="date-of-birth" required>
    </div>

    <div class="col-md-6 mt-2">
      <label>COMPANY NAME</label>
      <input type="text" name="company" class="form-control" required>
      </div>

      <div class="col-md-6 mt-2">
        <label>ID</label>

        <select name="id-proof-type" class="form-select id-proof-select" required >
          <option  value="Emirates-Id" selected>Emirates ID</option>
          <option  value="Passport-Id">Passport ID</option>
        
        </select>
        
      </div>
        
        
                <div class="col-md-6 mt-2">
                  <label class=" id-proof-number-lable set-additional-required">EMIRATES ID NUMBER</label>
                  <input type="text" class="form-control" onkeyup="change_pattern_id_card_number_on_change(this)"  name="id-proof-number" required>
                </div>
        
                <div class="col-md-6 mt-2">
                  <label class=" id-proof-file-front-lable">UPLOAD EMIRATES ID FRONT</label>
                  <input type="file" class="form-control" accept="image/*" name="id-proof-front-file" required>
                  <div class="text-mute" style="font-size: 10px; color: rgba(0, 0, 0, 0.589);">
                    <span class="ml-3">*ONLY JPEG FORMAT</span>
                                                        </div>     
                
                </div>
        
                          <div class="col-md-6  mt-2 id-proof-file-back-div">
                            <label class=" id-proof-file-back-lable">UPLOAD EMIRATES ID BACK</label>
                            <input type="file" class="form-control emirates-id-back" accept="image/*" name="id-proof-back-file" required>
                            <div class="text-mute" style="font-size: 10px; color: rgba(0, 0, 0, 0.589);">
                              <span class="ml-3">*ONLY JPEG FORMAT</span>
                                                                  </div>     
                          </div>
                                    <div class="col-md-6 mt-2">
                                      <label class="id-proof-expire-date-lable">EMIRATES ID EXPIRY DATE</label>
                                      <input type="date" class="form-control expiry-check extra-validation" required  name="id-expiry-date" >
                                      <span class="id-expiry-date-is-not-valid d-none ml-2" style="color: rgb(255, 0, 0);">  Expired </span>        
                                    </div>
        
      
      <div class="col-md-3 mt-2">
        <label>NEED EVENT PASS?</label>
        <br>
        <label class="radio-inline">
           <input class="form-check-input" type="radio" name="needEventPass" id="eventPassYes" value="Yes" onchange="toggleAdditionalRow()" required> YES
        </label>
        <label class="radio-inline">
          <input class="form-check-input" type="radio" name="needEventPass" id="eventPassNo" value="No" onchange="toggleAdditionalRow()" checked> NO
        </label>

      </div>

<div class="row additional-row"  style="display:none; transition: opacity 0.5s;">
      <div class="col-md-6 mt-2">
        <label>NATIONALITY</label>
        <input type="text" name="nationality" class="form-control set-additional-required">
        </div>
        <div class="col-md-6 mt-2">
          <label>EVENT LOCATION</label>
          <br>
            {% for loc in locations %}
            <label class="evnt_text" style="margin-left: 8px;" for="">{{loc.name}}</label>
            
            <input  type="checkbox" value="{{loc.id}}"  class="locations extra-validation" >
          
  
            {% endfor %}
            <br>
            <span class="locations-not-valid d-none ml-2" style="color: rgb(255, 0, 0);">Select any one </span>
  
      </div>
        <div class="col-md-6 mt-2">
          <label>DESIGNATION</label>
          <select class="form-select set-additional-required" id="card-type-select" name="event-card-type">
            <option value="" disabled selected>Select Card Type</option>
            {% for type in event_cardtypes %}
           
            {% if type.id != 11 %} 
            <option value="{{type.id}}" class="cardtype-options d-none">{{type.name}}</option>
        
            {% endif %}

            {% endfor %}
          </select>
          
          <span class="cardtype-options-no-location d-none ml-2" style="color: rgb(255, 0, 0);">Please select any one location</span>
          </div>


       
                                      <div class="col-md-6 mt-2">
                                        <label>UPLOAD PHOTO</label>
                                        <input type="file" class="form-control set-additional-required" accept="image/*" id="photo-badge-upload" onchange="openImageCropPopup(this)" name="badge-photo-file" >
                                        <div class="text-mute" style="font-size: 10px; color: rgba(0, 0, 0, 0.589);">
                                          <span class="ml-3">*ONLY JPEG FORMAT</span>
                                                                              </div>        
                                      </div>

                                              </div>
<div class="row">
                                                
                                                <div class="col-md-6">
                                                 
<button type="submit" class="evnt_button">SUBMIT <div class="spinner-border spinner-border-sm  form-spinner d-none" role="status"></div></button>
</div>  
<div class="col-md-3">
                                                 
  <button type="reset" class="rst_button">RESET</button>
  </div>  
  <div class="col-md-3">
                                            
    <a href="{% url 'build_bulk_upload-page' %}">
    <button type="button" class="blk_button" style="font-size: 14px;"><img class="img-fluid" src="{% static 'images/upload.png' %}"> BULK UPLOAD</button>
    </a>  
    
  </div>  
                                                
</div>

</div>
</form>
</div>


</div>



      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  <img class="footer_img"  src="{% static 'img/motn/footer_bg.png' %}" >
    </div>
  
  </div>



  <div class="modal fade"  id="imageCropModal" tabindex="-1" role="dialog" aria-labelledby="imageCropModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content text-white" style="background-color: black;">
        <div class="modal-header" style="border-bottom: none ;">
          <h5 class="modal-title" id="imageCropModalLabel">Crop Image</h5>
          <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body" >
          <div style="display: inline-block;" id="cropper-container">
            <img id="uploaded-image" src="" alt="Uploaded Image">
            
          </div>
          <div class="crop_cont" style="display: inline-block; position: absolute; padding: 50px;">
            <p style="font-size: 20px;">Please crop the image as you want in badge</p>
          </div>

        </div>
        <div class="modal-footer" style="border-top: none;">
          <button type="button" class="btn btn-light btn-lg" onclick="cropImage()">Done</button>
          <button type="button" class="btn btn-danger btn-lg" onclick="cancelCrop()" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>
  <!-- Bootstrap JS and Popper.js (Optional) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


  <script>

  </script>
  <script>
   function toggleAdditionalRow() {
      const needEventPassYes = document.getElementById("eventPassYes");
      const additionalRow = document.querySelector(".additional-row");

      if (needEventPassYes.checked) {
        additionalRow.style.display = "flex";

        $('.set-additional-required').attr('required',true)
     
      } else {
        additionalRow.style.display = "none";
        $('.set-additional-required').attr('required',false)
        
      }
    }
 
    $('.id-proof-select').change(function() {
      
      if ($(this).val() == 'Emirates-Id'){
        $('.id-proof-number-lable').text("EMIRATES ID NUMBER")
        $('.id-proof-file-front-lable').text("UPLOAD EMIRATES ID FRONT")
        $('.id-proof-file-back-lable').text("UPLOAD EMIRATES ID BACK")
        $('.id-proof-expire-date-lable').text("EMIRATES ID EXPIRY DATE")
        $(".id-proof-file-back-div").removeClass('d-none')
        $('.emirates-id-back').attr('required',true)
      }
      if ($(this).val() == 'Passport-Id'){
        $('.id-proof-number-lable').text("PASSPORT NUMBER")
        $('.id-proof-file-front-lable').text("UPLOAD PASSPORT FRONT")
        
        $(".id-proof-file-back-div").addClass('d-none')
        $('.id-proof-file-back-lable').text("UPLOAD PASSPORT BACK")
        $('.id-proof-expire-date-lable').text("PASSPORT EXPIRY DATE")
        $('.emirates-id-back').attr('required',false)

      }

    })

    var cropper; // Variable to store the Cropper.js instance

function openImageCropPopup(input) {
  var file = input.files[0];
  var reader = new FileReader();
  reader.onload = function(e) {
    // Update the image source with the uploaded file
    document.getElementById('uploaded-image').src = e.target.result;

    // Destroy the previous Cropper.js instance, if exists
    if (cropper) {
      cropper.destroy();
    }

    // Show the image cropping popup
    $('#imageCropModal').modal('show');

    // Initialize Cropper.js inside the modal
    cropper = new Cropper(document.getElementById('uploaded-image'), {
      aspectRatio: 1, // Set the aspect ratio for cropping (e.g., 1:1 for a square)
      viewMode: 1, // Set the view mode to restrict the cropping area within the container
      zoomable: false, // Disable zooming the image
      guides: true, // Show guides for the cropping area
      minContainerWidth: 400, // Set the minimum width of the cropping container
      minContainerHeight: 400, // Set the minimum height of the cropping container
    });

 


  };
  reader.readAsDataURL(file);
}



function cropImage() {
  if (cropper) {
    // Get the cropped image data
    var croppedDataUrl = cropper.getCroppedCanvas().toDataURL();

    var m_input =document.getElementById('photo-badge-upload')

    // var image = base64toBlob(croppedDataUrl)

    // console.log(image)
      let list = new DataTransfer();
      const file = dataURLtoFile(croppedDataUrl,m_input.files[0].name)
      list.items.add(file);
      m_input.files=list.files
          // Perform any actions with the cropped image data (e.g., upload, save, etc.)
    //console.log(croppedDataUrl);

  

  // Hide the image cropping popup
  $('#imageCropModal').modal('hide');
}
}

function cancelCrop() {
  // Reset the file input to clear the selected file
  var fileInput = document.getElementById('photo-badge-upload');
  fileInput.value = '';

  // Clone and replace the file input element with a new instance
  // var newFileInput = fileInput.cloneNode(true);
  // fileInput.parentNode.replaceChild(newFileInput, fileInput);

  // Hide the image cropping popup
  $('#imageCropModal').modal('hide');
}
 
$('#imageCropModal').on('hidden.bs.modal', function() {
  if (cropper) {
    // Destroy the Cropper.js instance when closing the modal
    cropper.destroy();
    cropper = null;
  }
  });



function dataURLtoFile(dataurl, filename) {
  var arr = dataurl.split(","),
    mime = arr[0].match(/:(.*?);/)[1],
    bstr = atob(arr[1]),
    n = bstr.length,
    u8arr = new Uint8Array(n);
  while (n--) {
    u8arr[n] = bstr.charCodeAt(n);
  }
  return new File([u8arr], filename, { type: mime });
}

//key number
function change_pattern_id_card_number_on_change(inp) {
      if ($('.id-proof-select').val() == 'Emirates-Id'){

        
        var text=inp.value.replaceAll('-','').split('')

              for (let i = 0; i < text.length; i++) {
        
                if (i== 3 ){
                    text.splice(3,0,'-')

                  
                  }

                  if (i == 8 ){
                      text.splice(8,0,'-')

                      
                  }

                  if (i == 16 ){
                        text.splice(16,0,'-')
                  }

                  // if (i == 1 ){
                  //       text.splice(16,0,'-')
                  // }
              

              }

              inp.value=text.join('')
             
       
      }
       
     }

     $('.extra-validation').change(function () {
      ExtravalidationPass()
    })

    function ExtravalidationPass() {
    
   
    //location validation
    var fail_count=0
      
    // $('.locations:checked').each(function() {
    //   console.log($(this).val())
    // })
    
    if (!$('.locations:checked').length){
      $('.locations').focus()
      $('.locations-not-valid').removeClass('d-none')
      fail_count++
    } else{
      $('.locations-not-valid').addClass('d-none')
      
    }
    

    var expiryDate = new Date($('.expiry-check').val());
    var currentDate = new Date();

    if ( expiryDate <=currentDate ){
      $('.expiry-check').addClass('is-invalid')
      $('.id-expiry-date-is-not-valid').removeClass('d-none')
      fail_count ++

    } 
    else{
      $('.expiry-check').removeClass('is-invalid')
      $('.id-expiry-date-is-not-valid').addClass('d-none')
      
    }
 
      if (fail_count >= 1){
        
        return false
        
      }
      else{
      
        return true
      }
    
    }


    $('#build-form').submit(function (event){
      
      event.preventDefault()

      if (ExtravalidationPass() == false && $('#eventPassYes').is(':checked')){
        return false
      }


      $(':submit').attr('disabled',true)
      $('.form-spinner').removeClass('d-none')
      var _formData=new FormData($(event.target)[0])
      _formData.append('locations',JSON.stringify($('.locations:checked').map( function(){return this.value }).get()))
      _formData.append('csrfmiddlewaretoken','{{ csrf_token }}')
      
      $.ajax({
        type: "POST",
        url: "{% url 'submit-build-registration' %}",
        data: _formData,
        contentType:false,
        processData:false,
        dataType: "json",
        success: function (response) {
          
          if(response.success){
           
            sendSuccessMail(response.id)
            
            setTimeout(() => {
              window.location.href="{% url 'success-page' %}?reg-form=build"
            
            
              // $(event.target)[0].reset()
              $('.form-spinner').addClass('d-none')

              $(':submit').attr('disabled',false)
            
            }, 2000);



          }else{
            console.log(response)
            alert(response.reason)
          }

          
          
        }
      });
    })
    function sendSuccessMail(id){
      $.ajax({
        type: "POST",
        url: "{% url 'send-success-mail' %}",
        data: {id:id,'table-name':'build','csrfmiddlewaretoken':'{{csrf_token}}'},
        dataType: "json",
        success: function (response) {
          
        }
      });
    }


     //on location change 

    //abudhabi = 4
    //al ain   = 2
    //dhafara  = 3

    //remove not wanted in dropdown
    // [11].forEach(element => {

    //   $(element).remove()
    
    // });
  
    var cardtypes={
      
      4:[7,33,19,9,8,16,12,13,50,35,5,2,17,27,18,19,20,10,42,1,22,53,52,51,43,58],
      2:[7,33,8,12,13,9,50,35,5,2,16,17,37,18,53,19,20,10,42,52,1,44,43,51,22,58],
      3:[7,33,8,5,12,13,9,2,16,17,18,19,20,1,22,54,58],
  }


    $('.locations').click(function(){

      let selected_ids=$('.locations:checked').map( function(){return this.value }).get()

      $('#card-type-select').val(null)

      $('.cardtype-options').addClass('d-none')
      
      if (selected_ids.length > 0 ){
   
        $('.cardtype-options-no-location').addClass('d-none')
      }


      selected_ids.forEach(element => {
        
        $('.cardtype-options').each(function(){
        
          if (cardtypes[element].includes(Number($(this).val()))){
            $(this).removeClass('d-none')
          }

        })


      });
       

       


    })

    $('#card-type-select').click(function(){
      if($('.cardtype-options').not('.d-none').length == 0){
        $('.cardtype-options-no-location').removeClass('d-none')
      }else{
        $('.cardtype-options-no-location').addClass('d-none')
      }
      
    })

 </script>
  
</body>
</html>