{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MOTN 2023</title>
  
  <!-- Bootstrap CSS -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/motn/favicon.jfif' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/registration-mystyle.css' %}?update=2" >

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">
<link href="https://fonts.cdnfonts.com/css/mont" rel="stylesheet">
<style>

@font-face {
      font-family: 'montbold'; /* Give your font a name */
      src: url("{% static 'font/FontsFree-Net-Mont-Bold.ttf' %}") format('truetype'); /* Specify the path to your .ttf file */
    }
    @font-face {
      font-family: 'AvenirNext'; /* Give your font a name */
      src: url("{% static 'font/AvenirNext-Heavy-09.ttf' %}") format('truetype'); /* Specify the path to your .ttf file */
    }
    body {
      font-family: 'montbold' !important; /* Apply the custom font to the body or any other element */
    }

    .error-row-red{
      background-color: rgb(255, 98, 98);
    }

</style>

</head>
<body style=" font-family: 'montbold' !important; ">

  <div class="reg_background-image"></div>


  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container justify-content-center">
        <a class="navbar-brand" href="#">
          <img class="logo_img" src="{% static 'img/motn/logo.png' %}" width="170" height="60" alt="logo union">
        </a>
    
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row justify-content-center">


      <div class="col-md-10">
  
<div class="card mt-5 mb-5" style="border: 1px solid rgb(53, 135, 190);">

<div class="buildcard-head">
<h3 class="text-center text-black" style="">
 BUILD PASS BULK UPLOAD
</h3>
</div>
<hr/>
<div class="build_form p-2">
<div class="row">

<div class="col-md-6 mb-5">
<label>Upload Excel</label>
<input class="form-control upload-inp-build-bulk" type="file">

</div>

<div class="col-md-6">
    <label> Kindly follow the same template</label>
    <br>
<a href="{% static 'excle/build-abu-dhabi-bulk.xlsx' %}">   <button class="btn btn-primary">Download Template</button></a>
    
    </div>
<hr/>
    <div class="col-md-12">

<table class="table table-bordered" style="height: 200px; overflow: scroll;">
    <thead>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
        <th>MOBILE</th>
        <th>DATE OF BIRTH</th>
        <th>COMPANY NAME</th>
        <th>DESIGNATION</th>


    </thead>
    <tbody id="table-tbody">
        <tr>
            <td colspan="7">
<div style="padding:50px;">
        <h3 class="text-center text-muted">
Table is empty

        </h3>
    </div>
</td>
</tr>
    </tbody>

</table>

    </div>

</div>
<div class="row" >
<div class="" >
<div class="col-md-12">
<button class="btn btn-success bulk-upload-submit-btn">SUBMIT <div class="spinner-border spinner-border-sm  form-spinner d-none" role="status"></div></button>
</div>
</div>
</div>

</div>


</div>



      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  <img class="footer_img"  src="{% static 'img/motn/footer_bg.png' %}" >
    </div>
  
  </div>


  <script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>
  <!-- Bootstrap JS and Popper.js (Optional) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.min.js"></script>
 
 <script>


    var list_data;
    var final_data=[]
    $('.upload-inp-build-bulk').change(function(){

      final_data=[]

      const file = event.target.files[0];
      const reader = new FileReader()
      reader.onload = function (e) {
          const contents=e.target.result;
          const workbook = XLSX.read(contents, { type: 'binary' , cellDates: true, dateNF: 'mm/dd/yyyy;@'});
          const worksheet = workbook.Sheets[workbook.SheetNames[0]];
          const jsonData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

          var tr_html=''
          list_data=jsonData.slice(1,jsonData.length)
          console.log(list_data);
        
          row_num=0
          list_data.forEach(element => {
      
              if (element[0] == null || element[6] == "SELECT DEISGNATION" ) return false

              row_num++
              row_id='bulk-row-'+row_num.toString()
              final_data.push({'row-id':row_id,'first-name':element[0],'last-name':element[1],'email':element[2],'mobile':element[3],'date-of-birth':formatDate(element[4]),'company':element[5],'card-type':element[6]})
             
              tr_html+=getTableRow(element,row_id)

          });
          $('#table-tbody').html(tr_html)

          // console.log(final_data);

          // // $('#excel-upload-modal').modal('toggle')

          // // $('#excel-upload-modal tbody').html(tr_html)

      }

      reader.readAsBinaryString(file);



      })


      function getTableRow(element,row_id) {

        first_name=element[0] != undefined ? element[0] : ''
        last_name=element[1] != undefined ? element[1] : ''
        email=element[2] != undefined ? element[2] : ''
        mobile=element[3] != undefined ? element[3] : ''
        dob=element[4] != undefined ? element[4].toLocaleDateString() : ''
        company=element[5] != undefined ? element[5] : ''
        des=element[6] != undefined ? element[6] : ''
        
        tr=`
          <tr id="${row_id}">
            <td style="font-size:13px; font-weight:none; font-family: 'Mont', sans-serif;"><div style="width:100px;">${first_name}</div></td>
            <td style="font-size:13px; font-weight:none; font-family: 'Mont', sans-serif;">${last_name}</td>
            <td style="font-size:13px; font-weight:none; font-family: 'Mont', sans-serif;"> <div style="width:100px;">${email} </div></td>
            <td style="font-size:13px; font-weight:none; font-family: 'Mont', sans-serif;">${mobile}</td>
            <td style="font-size:13px; font-weight:none; font-family: 'Mont', sans-serif;" >${dob}</td>
            <td style="font-size:13px; font-weight:none; font-family: 'Mont', sans-serif;">${company}</td>
            <td style="font-size:13px; font-weight:none; font-family: 'Mont', sans-serif;">${des}</td>
            </tr>
        
        `
        return tr
      }
      

      $('.bulk-upload-submit-btn').click(async function(){
        

        if (final_data.length == 0 ){
          alert('Uploaded excel is empty')
          return false
        }
        $(this).attr('disabled',true)
        $('.form-spinner').removeClass('d-none')


        $.ajax({
          type: "POST",
          url: "{% url 'build-excel-upload' %}",
          data: {'final_data':JSON.stringify(final_data),'csrfmiddlewaretoken':'{{csrf_token}}'},
          dataType: "json",
          success: function (response) {
            $('.bulk-upload-submit-btn').attr('disabled',false)
            $('.form-spinner').addClass('d-none')
            if (response.success){
              window.location.href="{% url 'success-page' %}?reg-form=build"
              
            }else{

              

                response.error_rows_ids.forEach(row_id =>{
                  $('#'+row_id).addClass('error-row-red')
                })


                alert(`${response.error_rows_ids.length } Row missing or not valid data. please edit and re-upload the excel`)
                
              }

          }
        });          



      })


      function formatDate(date) {
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are 0-based
    const day = date.getDate().toString().padStart(2, '0');

    return `${year}-${month}-${day}`;
}
  </script>

  
</body>
</html>