{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MOTN</title>  
  <!-- Bootstrap CSS -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/motn/favicon.jfif' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/registration-mystyle.css' %}" >

<style>

  @font-face {
        font-family: 'montbold'; /* Give your font a name */
        src: url("{% static 'font/FontsFree-Net-Mont-Bold.ttf' %}") format('truetype'); /* Specify the path to your .ttf file */
      }
  
      body {
        font-family: 'montbold' !important; /* Apply the custom font to the body or any other element */
      }
  
  </style>
</head>
<body style=" font-family: 'montbold' !important;">

  <div class="background-image"></div>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="logo_img" src="{% static 'img/motn/logo.png' %}" width="170" height="60" alt="logo union">
        </a>
    
      </div>
    </nav>
  </header>


  <div class="container">
    <div class="row justify-content-center">


      <div class="col-md-6">
      <div class="vapp_scs_card card" style="">

<img class="text-center img-responsive"  src="{%  static 'img/check.png'  %}" style="width: 20%; position: relative; left:40%;">
<h2 class="text-center  mt-3">SUCCESSFULLY SUBMITED</h2>

      </div>
      </div>

    </div>
  </div>

  <!-- Bootstrap JS and Popper.js (Optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  

  <script>
    function change_pattern_id_card_number_on_change(inp) {
      if ($('.id-proof-select').val() == 'Emirates-Id'){

        
        var text=inp.value.replaceAll('-','').split('')

              for (let i = 0; i < text.length; i++) {
        
                if (i== 3 ){
                    text.splice(3,0,'-')

                  
                  }

                  if (i == 8 ){
                      text.splice(8,0,'-')

                      
                  }

                  if (i == 16 ){
                        text.splice(16,0,'-')
                  }

                  // if (i == 1 ){
                  //       text.splice(16,0,'-')
                  // }
              

              }

              inp.value=text.join('')
             
       
      }
       
     }

     $('.extra-validation').change(function () {
      ExtravalidationPass()
    })

    function ExtravalidationPass() {

    var expiryDate = new Date($('.expiry-check').val());
    var currentDate = new Date();

    if ( expiryDate <=currentDate ){
      $('.expiry-check').addClass('is-invalid')
      $('.id-expiry-date-is-not-valid').removeClass('d-none')
      return false

    } 
    else{
      $('.expiry-check').removeClass('is-invalid')
      $('.id-expiry-date-is-not-valid').addClass('d-none')
      return true
    }

    }
  </script>
</body>
</html>